.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0e167e 0%, #3477ff 100%);;
  padding: 10px;
  color: white;
  font-weight: lighter;
  font-size: small;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  a {
    text-decoration: none;
    color: white;
    
  }
  
}
